html,body{
    margin:0;
    padding:0;
}
section>div {
  position:absolute;
  width:50%;
  height:50%;
}

section>div:first-child {
  top:0%;
  left:0%;
  width: calc(100%/3);
  height:100%;
  background-color:red;
}

section>div:nth-child(2){
    
    width: calc(100%/3);
    height:100%;
    left:33.333%;
    background-color:green;
   
}
section>div:nth-child(3){
    
    width: calc(100%/3);
    height:100%;
    left:66.666%;
    background-color:black;
   
}